html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-y: hidden;
}

#grid {
    max-width: 1000px;
    max-height:fit-content;
    justify-content: flex-start;
    align-content:flex-start;
    margin: 0 auto;
    padding: 10px;
} 
.row {
    display: flex;
    flex-flow: row wrap;
}
.column {
    width: calc(100%/10);
    height: 1vw;
    background-color: white;
    outline: 1px solid black;
    flex: 1 1 auto;
    min-height: 0;
}

@media screen and (min-width:800px){
    .column {
        flex: 1;
    }
}